@if (dataSource) {

  <div class="table-with-filters">
    <div class="filter-container">
      <div class="column-filter column-id"></div>

      <div class="column-filter column-name">
        <mat-form-field appearance="outline">
          <mat-label>Search by Galaxy Name</mat-label>
          <input [(ngModel)]="nameSearch" matInput placeholder="Search..."/>

          @if (nameSearch()) {
            <button mat-icon-button matSuffix aria-label="Clear"
                    (click)="clearNameSearch()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div class="column-filter column-type">
        <mat-form-field appearance="outline">
          <mat-label>Filter by Galaxy Type</mat-label>
          <mat-select [(ngModel)]="selectedType">
            <mat-option *ngFor="let type of galaxyTypes" [value]="type">{{ type }}</mat-option>
            <mat-option [value]="">All</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-id"><span class="long">Galaxy ID</span><span class="short">ID</span></th>
          <td mat-cell *matCellDef="let galaxy">{{ galaxy.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-name">Galaxy Name</th>
          <td mat-cell *matCellDef="let galaxy">{{ galaxy.name }}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-type">Galaxy Type</th>
          <td mat-cell *matCellDef="let galaxy">{{ galaxy.type }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"
            ngClass="galaxy-type-{{ row.type?.toLowerCase() }}"></tr>
      </table>
    </div>
  </div>
} @else {
  <mat-spinner></mat-spinner>
}
