* {
  box-sizing: border-box;
}

.table-with-filters {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0;
  padding: 2rem;
  background-color: #f5f5f5;

  .filter-container {
    display: flex;
    gap: 0;
    padding-bottom: 0.5rem;

    .mat-mdc-form-field {
      width: 100%;
      ::ng-deep .mat-mdc-form-field-icon-suffix {
        margin-inline-end: 0.5rem;
      }
    }

    .column-id {
      flex: 0 0 15%;
    }

    .column-name {
      flex: 0 0 50%;
      padding-inline-start: 1rem;
      padding-inline-end: 1rem;
    }

    .column-type {
      flex: 0 0 35%;
      padding-inline-start: 1rem;
    }

    ::ng-deep {
      .mat-mdc-form-field-subscript-wrapper,
      .mat-mdc-form-field-bottom-align {
        display: none;
      }
    }

  }

  .table-container {
    overflow-x: auto;

    .column-id {
      width: 15%;
    }

    .column-name {
      width: 50%;
    }

    .column-type {
      width: 35%;
    }
  }


  table {
    width: 100%;

    tr {
      background-color: #f5f5f5;

      &.galaxy-type-normal {
        background-color: #f5f5f5;
      }

      &.galaxy-type-harsh {
        background-color: #ffe5e5;
      }

      &.galaxy-type-lush {
        background-color: #e8f5e9;
      }

      &.galaxy-type-empty {
        background-color: #e3f2fd;
      }
    }
  }
}

